p {
    font-weight: bold;
    color: darkgreen;
}

table, th, td {
    border: 0.5px solid black;
    padding: 0.4em 0.5em 0.4em 0.5em;
    border-collapse: collapse;
}

.noboarders {
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

body {
    font-family: 'Trebuchet ms', Tahoma, Helvetica, Sans-serif;
    padding: 1em;
    background-color: rgb(193, 247, 196);  
}

.bluebold {
    color: blue;
    font-weight: bold;
}

a {
    font-size: 1.5em;
}